[include]
	path=.gitconfig.local
[user]
	name=youkyll
	email=yuuki08180102@gmail.com
[core]
	excludesfile=~/dotfiles/git/gitignore
	editor=vim
  ignorecase=false
[color]
	ui=auto
[grep]
	lineNumber=true
[push]
	default=current
